<div class="">
  <h1 i18n="@@catalogDetails">Catalog of details</h1>
  <div class="my-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="dataSource.isLoadingResults || dataSource.isRateLimitReached">
      <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="dataSource.isRateLimitReached">
        <mat-grid-list *ngIf="true" cols="1" rowHeight="3:2">
          <mat-grid-tile>
            <mat-spinner></mat-spinner>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter i18n-placeholder="@@filter" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                     [checked]="isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? selection.toggle(row.name) : null"
                     [checked]="selection.isSelected(row.name)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="measure">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@measure"> Measure </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.measure}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@price"> Price </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="storePlace">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@storePlace"> Store place </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.storePlace}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" align="center">
        <button mat-icon-button
         (click)="delete(row.name)">
          <fa style="color:red" name="trash-o"></fa>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"
        (click)="edit(row)">
        <button mat-icon-button>
          <fa style="color:green" name="pencil"></fa>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.example-selected-row]="selection.isSelected(row.name)"
      (click)="selection.toggle(row.name)">
    </mat-row>
</mat-table>
  <div class="example-no-results"
       [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'"i18n="@@filtMesNotGoods">
    There are no goods matching this filter.
  </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

</div>
