$main-color: #583123;

.right {
  float: right;
}

.navbar {
  background-color: $main-color;
  width: 100%;
  color:white;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  .min-menu {
    display: inline;
    @media screen and (min-width: 699px) {
      display: none;
    }
    .min-sub-menu {
      ul {
        opacity: 0;
        height: 0;
        position: fixed;
        li {
          float: none;
          display: inline;
        }
      }
      &:hover > ul {
        transition: all 1s ease-out;
        background-color: $main-color;
        opacity: 1;
        height: auto;
      }
    }
  }
  ul {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      float: left;
      @media screen and (max-width: 700px) {
        display: none;
      }
      &.sub-menu {
        ul {
          opacity: 0;
          height: 0;
          position: absolute;
          li {
            float: none;
            display: inline;
          }
        }
        &:hover > ul {
          transition: all 1s ease-out;
          background-color: $main-color;
          opacity: 1;
          height: auto;
        }
      }
      a {
        // text-align: center;
        display: block;
        color: white;
        text-decoration: none;
        padding: 16px 25px;
        transition: 0.3s linear;
        &:hover {
          transition: 0.3s linear;
          background-color: white;
          color: $main-color;
          cursor: pointer;
        }
      }
    }
  }
}

.active {
  background-color: white;
  color: $main-color !important;
}

.pad-top {
  height: 50px;
}
