<nav class="navbar">

  <ul>
    <li>{{stockName}}</li>
    <!-- <li><a routerLink='/main' routerLinkActive="active">Склад</a></li> -->
    <li *ngIf="!stockService.IsExistStock()"><a routerLink='/create' routerLinkActive="active">Cоздание склада</a></li>
    <li *ngIf="stockService.IsExistStock()"><a routerLink='/stock' routerLinkActive="active">Склад</a></li>
    <li *ngIf="stockService.IsExistStock()"><a routerLink='/catalog' routerLinkActive="active">Каталог товаров</a></li>
    <li *ngIf="stockService.IsExistStock()"><a routerLink='/production' routerLinkActive="active">Производство</a></li>
    <div class="right">
      <li *ngIf="stockService.IsExistStock()"><a routerLink='/config' routerLinkActive="active"><fa name="cog" size="lg"></fa></a></li>
      <li *ngIf="stockService.IsExistStock()"><a (click)="onResetStock()"><span>{{stockService.getCurrentStock()}}</span> <fa name="external-link" size="lg"></fa></a></li>
      <div class="min-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <fa name=bars size=lg></fa>
        </button>
        <mat-menu #menu="matMenu">
          <!-- <a mat-menu-item routerLink='/main' routerLinkActive="active">Склад</a> -->
          <a *ngIf="!stockService.IsExistStock()" mat-menu-item routerLink='/create' routerLinkActive="active">Создание склада</a>
          <a *ngIf="stockService.IsExistStock()" mat-menu-item routerLink='/stock' routerLinkActive="active">Склад</a>
          <a *ngIf="stockService.IsExistStock()" mat-menu-item routerLink='/catalog' routerLinkActive="active">Каталог товаров</a>
          <a *ngIf="stockService.IsExistStock()" mat-menu-item routerLink='/production' routerLinkActive="active">Производство</a>
          <a *ngIf="stockService.IsExistStock()" mat-menu-item routerLink='/config' routerLinkActive="active"><fa name="cog" size="lg"></fa></a>
          <a *ngIf="stockService.IsExistStock()" mat-menu-item (click)="onResetStock()"><span>{{stockService.getCurrentStock()}}</span> <fa name="external-link" size="lg"></fa></a>
        </mat-menu>
      </div>
    </div>
</ul>

</nav>

<div class="pad-top"></div>
