<mat-card>
  <h2 i18n="@@partsDetail">
    Write out the parts detail
  </h2>
  <!-- <button mat-raised-button>По продукции</button> -->
  <form #expense="ngForm" (ngSubmit)="onSubmit(expense)" >
    <mat-card-actions>
      <button  mat-raised-button [disabled]="!expense.form.valid"  type="submit" i18n="@@getGoods">
        Get goods
      </button>
      <button  mat-raised-button (click)="reset()" i18n="@@clear">Clear</button>
    </mat-card-actions>
  </form>

  <div class="my-container mat-elevation-z8">

    <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter i18n-placeholder="@@filter" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="example-header example-selection-header"
      *ngIf="!selection.isEmpty()">
      {{selection.selected.length}}
      {{selection.selected.length == 1 ? 'element' : 'elements'}}
      selected
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef  [style.flex]="'0 0 30px'">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                     [checked]="isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef ="let row"  [style.flex]="'0 0 30px'">
        <mat-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? changeSelected(row) : null"
                     [checked]="selection.isSelected(row.name)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@name"> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 60px'" i18n="@@qty">Quantity </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.flex]="'0 0 60px'">
          <mat-form-field  [style.display]="selection.isSelected(row.name) ? '': 'none'"
          [style.width]="'60px'">
            <input matInput
            type="number" min=0 max={{row.count}} name="count" [(ngModel)]="row.count2">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="measure">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@measure"> Measure </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.measure}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@price"> Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="storePlace">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@storePlace"> Store place </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.storePlace}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@dateIncome"> Date income </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.publishedDate | date:'short'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="example-no-results"
         [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'" i18n="@@filtMesNotGoods">
        There are no goods matching this filter.
    </div>

  <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  </div>
</mat-card>
