<div class="">
  
  <mat-card>
    <h1 align=center>Создать продукт</h1>
    <form #createProduct="ngForm" (ngSubmit)="onSubmit(createProduct)" >
      <mat-form-field>
        <input matInput type="text" name="name" [(ngModel)]="product.name" required placeholder="Название продукта">
      </mat-form-field>
      <!-- <mat-card-actions> -->
        <button  mat-raised-button [disabled]="!createProduct.form.valid"  type="submit">
          Cоздать продукт
        </button>
        <button  mat-raised-button  type="reset">Очистить</button>
      <!-- </mat-card-actions> -->
    </form>

    <h2>Выбрать комплектующие</h2>
    <div class="my-container mat-elevation-z8">

      <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="example-header example-selection-header"
        *ngIf="!selection.isEmpty()">
        {{selection.selected.length}}
        {{selection.selected.length == 1 ? 'element' : 'elements'}}
        selected
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>
      <!-- matSortActive="created" matSortDisableClear matSortDirection="asc"> -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                       [checked]="isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef ="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                       (change)="$event ? selection.toggle(row.name) : null"
                       [checked]="selection.isSelected(row.name)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Имя </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-sort-header [style.flex]="'0 0 60px'">Кол-во. </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.flex]="'0 0 60px'">
          <mat-form-field  [style.display]="selection.isSelected(row.name) ? '': 'none'"
          [style.width]="'60px'">
            <input matInput
            type="number" min=0 max=1000 value="0" name="count" [(ngModel)]="row.count">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <div class="example-no-results"
         [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
         Нет данных по данному фильтру.
    </div>

      <mat-paginator #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

  </mat-card>

</div>
