<mat-grid-list *ngIf="load" cols="1" rowHeight="3:2">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
<ng-container *ngIf="!load">
  <h3 *ngIf="!products.length" i18n="@@createPrUseCat">
    Create a product using the catalog
  </h3>
  <div *ngIf="products.length">
    <h3 i18n="@@products">Products</h3>
    <ng-container  *ngFor="let product of products; let ind = index;">
      <mat-card>
        <mat-card-header>
          <h3>{{product.name}}</h3>
        </mat-card-header>
        <mat-card-actions>
          <div align="left" (click)="products[ind].show = !products[ind].show">
            <fa name="minus-square" size="lg" [hidden]="!products[ind].show"></fa>
            <fa name="plus-square" size="lg" [hidden]="products[ind].show"></fa>
          </div>
        </mat-card-actions>
        <mat-card-content *ngIf="products[ind].show">
          <table>
            <tr>
              <th i18n="@@detail">Detail</th>
              <th i18n="@@qty">Quantity</th>
            </tr>

            <tr *ngFor="let elem of product.dataTable">
              <td>{{elem.name}}</td>
              <td align="center"><mat-chip [style.display]="'block'" color="primary" selected="true">{{elem.count}}</mat-chip></td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
      <br>
    </ng-container>
  </div>
</ng-container>
