.my-fab {
  position: absolute;
  color: white;
  background-color: rgba(#583123,1);
  left: 20px;
  top: 20px;
  &.bars {
    position: relative;

  }
}

.my-spacer {
  flex: 1 1 auto;
}

// .my-container-lr {
//   // width: 80%;
//   margin: auto;
// }

// .my-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }
.my-sidenav-container {
  margin: auto;
  width: 100%;
  height: 85vh;
}

.my-sidenav-container .mat-sidenav-content,
.my-sidenav-container md-sidenav {
  display: flex;
  overflow: visible;
}

.my-scrolling-content {
  overflow: auto;
}

// .my-sidenav-content {
  // max-width: 90%;
  // margin: auto;
  // right: 0;
  // left: 0;
  // display: block;
  // position: absolute;
  // height: 100%;
  // overflow-y: auto;
// }

// md-sidenav {
  // position: absolute;

// }

// .my-container-height {
  // min-height: 80vh;
// }

.my-toolbar {
  padding: 0px;
  .my-toolbar-row {
    padding: 10px;
    transition: 0.3s linear;
    &:hover {
      transition: 0.3s linear;
      background-color: white;
      color: #583123;
      border: 4px #583123 solid;
      border-left: none;
      cursor: pointer;
    }
  }
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}
