<div class="my-container">
  <div class="my-height">
    <mat-card>
      <a mat-raised-button
      [routerLink]="['/stock']"
       >
       <fa class="blue-text" name="undo"></fa>
       Go Back
      </a>
      <div class="container">
        <h2>Analitic exp&inc</h2>
        <!-- <div class="chart-container" style="position: relative; height:40vh; width:80vw"> -->
        <div>
          <canvas id="myChart"></canvas>
        </div>
        <div class="container">
          <mat-form-field>
            <mat-select placeholder="Axis X change" [(ngModel)]="selectedFormat" name="date" (change)="ChangeSelect()">
              <mat-option *ngFor="let format of dateFormats" [value]="format.value">
                {{format.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p> Selected value: {{selectedFormat}} </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
