<h1>{{edit? 'Редактировать':'Добавить'}} элемент {{catalog.name}}</h1>
<h1 i18n="AddOrEdit">{{edit? 'Edit':'Add'}} элемент {{catalog.name}}</h1>
<mat-card>
  <form #addNewCatalog="ngForm" (ngSubmit)="onSubmit(addNewCatalog)" align="">
    <mat-form-field >
      <input matInput type="text" name="name" [(ngModel)]="catalog.name" required placeholder="Наименование товара">
    </mat-form-field>
    <br>

    <mat-select name="measure" [(ngModel)]="catalog.measure" required placeholder="Единица измерения">
      <mat-option *ngFor="let measure of measures" [value]="measure.ms">
        {{measure.ms}}
      </mat-option>
    </mat-select>
    <br>

    <mat-form-field align="center">
      <span matPrefix style="padding-right: 20px"><fa name='rub'></fa></span>
      <input matInput type="number" name="price" [(ngModel)]="catalog.price" required placeholder="Цена" align="">
      <span matSuffix>за {{catalog.measure}}</span>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="text" [matAutocomplete]=auto
      [(ngModel)]="catalog.storePlace" [formControl]="stateControl" pattern="[A-Z]"
      placeholder="Сектор хранения">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state }}
      </mat-option>
    </mat-autocomplete>
    <br>

    <label for="suppliers">Добавить поставщика  </label>
    <button type="button" mat-raised-button name="suppliers" (click)="isSuppliersCheck=!isSuppliersCheck">
      <fa name="truck"></fa>
      <fa *ngIf="!isSuppliersCheck" name="plus"></fa>
      <fa *ngIf="isSuppliersCheck" name="minus"></fa>
    </button>
    <br>
    <ng-container *ngIf="isSuppliersCheck">
      <mat-form-field>
        <input matInput type="text" name="suppliersName" [(ngModel)]="catalog.suppliersName" placeholder="Имя поставщика">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="tel" name="suppliersTel" [(ngModel)]="catalog.suppliersTel" placeholder="Телефон">
      </mat-form-field>
    </ng-container>
    <br>

    <mat-form-field>
      <input matInput #postalCode maxlength="10" type="number" disabled placeholder="Штрих код" value="0000000000">
      <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-card-actions>
      <button  mat-raised-button [disabled]="!addNewCatalog.form.valid"  type="submit"  name="button">
        {{edit? 'Редактировать':'Добавить'}}
      </button>
      <button  mat-raised-button  type="reset"  name="button">Очистить</button>
    </mat-card-actions>
  </form>
</mat-card>
