  <div class="my-container">
    <div class="my-card  my-height my-overflow"> <mat-card *ngIf="!success">

        <h1 i18n="@@createOrChooseStock">Create stock or choose exist.</h1>
        <!-- Создайте склад или выберите из существующего -->
        <mat-card-actions>
          <a mat-raised-button *ngIf="stockName" (keyup.enter)="createStockName(stockName)" (click)="createStockName(stockName)" i18n="@@Create">Create</a>
        </mat-card-actions>
        <mat-grid-list cols="2">
          <mat-grid-tile>
            <mat-card-content>
              <mat-form-field>
                <input type="text" matInput [(ngModel)]="stockName" #ctrl ="ngModel" i18n-placeholder="@@stockName"  required placeholder="Stock name">
              </mat-form-field>
              <h1>{{stockName}}</h1>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-nav-list>
              <mat-list-item *ngFor="let stock of stocks" (click)="EnterCurrentStock(stock)">
                <h3>{{stock}}</h3>
              </mat-list-item>
            </mat-nav-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>

      <mat-card *ngIf="success">
        <h1><ng-container i18n="@@DetermineWarehouse">Determine the configuration for the warehouse</ng-container>: {{stockName}}</h1>
        <mat-card-content>
          <p i18n="@@crStIdP1">
            A new warehouse is created. The configuration of the main table Or choose the default configuration
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button (keyup.enter)='createStockConfig()' (click)='createStockConfig()' i18n="@@Default">Default</a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
