<md-card>
  <h2 align=center>Приход деталей</h2>
  <md-grid-list cols="2">
    <!-- Form -->
    <md-grid-tile>
      <form #incomeGoods="ngForm" (ngSubmit)="onSubmit(incomeGoods)" >
        <span>Время прихода {{currentDate | date}}</span>
        <md-card-actions>
          <button  md-raised-button [disabled]="!incomeGoods.form.valid"  type="submit">
            Добавить в склад
          </button>
          <button  md-raised-button  type="reset">Очистить</button>
        </md-card-actions>
      </form>
    </md-grid-tile>
    <!-- Catalog -->
    <md-grid-tile>
      <div class="">
        <h4>Выбрать деталь из каталога или добавить новый</h4>
        <div class="my-container mat-elevation-z8">

          <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'">
            <md-input-container floatPlaceholder="never">
              <input mdInput #filter placeholder="Filter">
            </md-input-container>
          </div>
          <div class="example-header example-selection-header"
            *ngIf="!selection.isEmpty()">
            {{selection.selected.length}}
            {{selection.selected.length == 1 ? 'element' : 'elements'}}
            selected
          </div>

          <md-table #table [dataSource]="dataSource" mdSort>

          <!-- Checkbox Column -->
          <ng-container mdColumnDef="select">
            <md-header-cell *mdHeaderCellDef  [style.flex]="'0 0 30px'">
              <md-checkbox (change)="$event ? masterToggle() : null"
                           [checked]="isAllSelected()"
                           [indeterminate]="selection.hasValue() && !isAllSelected()">
              </md-checkbox>
            </md-header-cell>
            <md-cell *mdCellDef ="let row"  [style.flex]="'0 0 30px'">
              <md-checkbox (click)="$event.stopPropagation()"
                           (change)="$event ? changeSelected(row) : null"
                           [checked]="selection.isSelected(row.name)">
              </md-checkbox>
            </md-cell>
          </ng-container>

          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef md-sort-header> Имя </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="count">
            <md-header-cell *mdHeaderCellDef md-sort-header [style.flex]="'0 0 60px'">Кол-во. </md-header-cell>
            <md-cell *mdCellDef="let row" [style.flex]="'0 0 60px'">
              <!-- <md-form-field [style.display]="selection.isSelected(row.name) ? '': 'none'"> -->
              <md-input-container  [style.display]="selection.isSelected(row.name) ? '': 'none'"
              [style.width]="'60px'">
                <input mdInput
                type="number" min=0 max=1000 value="0" name="count" [(ngModel)]="row.count">
              </md-input-container>
              <!-- </md-form-field> -->
            </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"
            >
          </md-row>
      </md-table>
        <div class="example-no-results"
             [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
             Нет данных по данному фильтру.
        </div>

        <md-paginator #paginator
                      [length]="dataSource.filteredData.length"
                      [pageIndex]="0"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>

      </div>

      </div>

    </md-grid-tile>
  </md-grid-list>

  <!-- <product-create [product]="isSubmit" (getDataFromCatalog)="dataTable = $event"></product-create>  -->
</md-card>
