<div class="">
  <h1><ng-container i18n="@@stock">Stock</ng-container> {{_dataService.getCurrentStock()}}</h1>
  <div class="my-container mat-elevation-z8">

    <div class="example-header">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter i18n-placeholder="@@filter"  placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@name">Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@qty">Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.count}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="measure">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@measure">Measure</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.measure}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@avgPrice">Average price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.price | number: '1.1-3'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="storePlace">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@storePlace"> Store place </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.storePlace}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@dateIncome"> Date income </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.publishedDate | date:'short'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="example-no-results"
         [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'" i18n="@@filtMesNotGoods">
        There are no goods matching this filter.
    </div>

    <mat-paginator #paginator
    [length]="dataSource.filteredData.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

</div>
