<div class="my-container">

  <mat-sidenav-container class="my-height">
    <mat-sidenav #sidenav mode="side" opened="true">
      <button *ngIf="sidenav.opened" mat-mini-fab class="my-fab" (click)="sidenav.toggle()">
        <fa  name="times"></fa>
      </button>
      <mat-toolbar class="my-toolbar">
        <mat-toolbar-row class="my-toolbar-row" (click)="menuToolbarActive = 1">
          <span i18n="@@products">Products</span>
        </mat-toolbar-row>

        <mat-toolbar-row class="my-toolbar-row" (click)="menuToolbarActive = 2; edit = false">
          <span i18n="@@createProduct">Create product</span>
        </mat-toolbar-row>
      </mat-toolbar>

    </mat-sidenav>

    <button *ngIf="!sidenav.opened" mat-mini-fab class="my-fab bars" (click)="sidenav.toggle()">
      <fa  name="bars"></fa>
    </button>

    <div class="my-container">
      <div [style.display]="menuToolbarActive === 1 ? '' : 'none'" class="">
        <product-table [change]="menuToolbarActive === 1"  (onEdit)="catalog = $event; menuToolbarActive = 2; edit = true;"></product-table>
      </div>

      <div [style.display]="menuToolbarActive === 2 ? '': 'none'" class="my-card">
        <product-create></product-create>
      </div>
    </div>
  </mat-sidenav-container>
</div>
