<div class="my-container">

  <md-sidenav-container class="my-height">
    <md-sidenav #sidenav mode="side" opened="true">
      <button *ngIf="sidenav.opened" md-mini-fab class="my-fab" (click)="sidenav.toggle()">
        <fa  name="times"></fa>
      </button>
      <md-toolbar class="my-toolbar">
        <md-toolbar-row class="my-toolbar-row" (click)="menuToolbarActive = 1">
          <span>Продукты</span>
        </md-toolbar-row>

        <md-toolbar-row class="my-toolbar-row" (click)="menuToolbarActive = 2; edit = false">
          <span>Создать продукт</span>
        </md-toolbar-row>
      </md-toolbar>

    </md-sidenav>

    <button *ngIf="!sidenav.opened" md-mini-fab class="my-fab bars" (click)="sidenav.toggle()">
      <fa  name="bars"></fa>
    </button>

    <div class="my-container">
      <div [style.display]="menuToolbarActive === 1 ? '' : 'none'" class="">
        <product-table [change]="menuToolbarActive === 1"  (onEdit)="catalog = $event; menuToolbarActive = 2; edit = true;"></product-table>
      </div>

      <div [style.display]="menuToolbarActive === 2 ? '': 'none'" class="my-card">
        <product-create></product-create>
      </div>
    </div>
  </md-sidenav-container>
</div>
