/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~materialize-css/sass/components/_color';
// @import '~materialize-css/sass/components/_variables';
// @import '~materialize-css/sass/components/_normalize';
// @import '~materialize-css/sass/components/_global';


// @charset "UTF-8";

// Colors
@import "~materialize-css/sass/components/color";

// Variables;
@import "~materialize-css/sass/components/variables";

// Reset
@import "~materialize-css/sass/components/normalize";

// components
@import "~materialize-css/sass/components/badges";
@import "~materialize-css/sass/components/icons-material-design";
@import "~materialize-css/sass/components/grid";
// @import "~materialize-css/sass/components/global";
// @import "~materialize-css/sass/components/navbar";
// @import "~materialize-css/sass/components/roboto";
// @import "~materialize-css/sass/components/typography";
// @import "~materialize-css/sass/components/transitions";
// @import "~materialize-css/sass/components/cards";
// @import "~materialize-css/sass/components/toast";
// @import "~materialize-css/sass/components/tabs";
// @import "~materialize-css/sass/components/tooltip";
// @import "~materialize-css/sass/components/buttons";
// @import "~materialize-css/sass/components/dropdown";
// @import "~materialize-css/sass/components/waves";
// @import "~materialize-css/sass/components/modal";
// @import "~materialize-css/sass/components/collapsible";
// @import "~materialize-css/sass/components/chips";
// @import "~materialize-css/sass/components/materialbox";
// @import "~materialize-css/sass/components/forms/forms";
// @import "~materialize-css/sass/components/table_of_contents";
// @import "~materialize-css/sass/components/sideNav";
// @import "~materialize-css/sass/components/preloader";
// @import "~materialize-css/sass/components/slider";
// @import "~materialize-css/sass/components/carousel";
// @import "~materialize-css/sass/components/tapTarget";
// @import "~materialize-css/sass/components/pulse";
// @import "~materialize-css/sass/components/date_picker/default";
// @import "~materialize-css/sass/components/date_picker/default.date";
// @import "~materialize-css/sass/components/date_picker/default.time";

// "../node_modules/materialize-css/sass/components/_color.scss",
// "../node_modules/materialize-css/sass/components/_variables.scss",
// "../node_modules/materialize-css/sass/components/_normalize.scss",
// "../node_modules/materialize-css/sass/components/_global.scss",
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  // overflow-y: hidden;
}

body {
  background-image: url('/assets/img/pexels-photo-stock.jpeg'), radial-gradient(farthest-corner at 50% 50%, #ef4b10 0%, #583123 110%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: rgb(88, 49, 35);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  // width: 80%;
  margin: 0 25px;
  @media screen and (max-width: 480px)  {
    margin: 0;
  }
}

.my-container {
  margin: auto 10px;
  margin-top: 20px;
}

.my-height {
  margin: auto;
  height: 85vh;
}

.my-overflow {
  overflow: auto;
}

.my-card {
  margin-bottom: 40px;
}
