/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  // overflow-y: hidden;
}

body {
  background-image: url('/assets/img/pexels-photo-stock.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: rgb(88, 49, 35);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  // width: 80%;
  margin: 0 25px;
  @media screen and (max-width: 480px)  {
    margin: 0;
  }
}

.my-container {
  margin: auto 10px;
  margin-top: 20px;
}
.my-card {
  margin-bottom: 40px;
}
